<header>
    <div id="container">
    <div><h3>{{number}}</h3></div>
    <div id="contact-container">
        <div style="padding-right: 3vw; color: black"><h3>Our location</h3></div>
        <div style="padding-left: 3vw;  color: black"><h3>+3756456523</h3></div>
    </div>
</div>
<div id="menu-container">
    <div class="menu-item Home" onClick="window.location='/index2'"><h6>Home</h6></div>
    <div class="menu-item About"><h6>About us</h6></div>
    <div class="menu-item Services"><h6>Services</h6></div>
    <div class="menu-item Team"><h6>Our team</h6></div>
    <div class="menu-item Departments"><h6>Departments</h6></div>
    <div class="menu-item"><h6>Gallery</h6></div>
    <div class="menu-item"><h6>Blog</h6></div>
    <div class="menu-item"><h6>Contact</h6></div>
</div>
</header>