<header>
    <div id="container">
    <div><h3 style="color: black">Maler</h3></div>
    <div id="contact-container">
        <form >
            <input type="search" name="search" placeholder="Search.." class="search"></form>
        <div style="padding-left: 3vw;  color: #88eb8a; display: flex">
            <span class="icon informationIcon twitterIcon"></span>
            <span class="icon informationIcon facebookIcon"></span>
            <span class="icon informationIcon gmailIcon"></span>
        </div>
    </div>
</div>
<div id="menu-container">
    <div class="menu-item Home" onClick="window.location='/index'"><h6>Главная</h6></div>
    <div class="menu-item About"><h6>About us</h6></div>
    <div class="menu-item Services"><h6>Services</h6></div>
    <div class="menu-item Team"><h6>Our team</h6></div>
    <div class="menu-item Departments"><h6>Departments</h6></div>
    <div class="menu-item" onClick="window.location='/galery'"><h6>Gallery</h6></div>
    <div class="menu-item" onClick="window.location='/index2'"><h6>Blog</h6></div>
    <div class="menu-item"><h6>Contact</h6></div>
</div>
</header>