<main id="main">
    <div id="container-bottom">
        <div id="one" style="text-align: center;" class="down"><h4>One</h4></div>
        <div id="two" style="text-align: center;" class="down"><h4>Two</h4></div>
        <div id="three" ><div style="background: #2a85a0; text-align: center;" class="down">View our services</div></div>
    </div>
</main>