<html lang="en"><!--для русского надо указать ru к этому тегу или абзацу текста-->
<head>
<meta charset="UTF-8">
    <link rel="shortcut icon" href="../Icons/favicon.ico" />
    <link href="../css/index.css" rel="stylesheet" type="text/css">
    <!--<script src="../js/jquery-3.3.1.js"></script>-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <title>Start</title>
</head>
<body >
{{> header}}
{{> main}}
<nav>
    <h4>Navigation</h4>
    <p lang="ru">Чтобы разобраться в присущей сложности CSS, созданы самые разные виды
        передовых практик. Проблема в том, что до сих пор нет единого мнения, какие из них
        являются лучшими, а многие из них полностью противоречат друг другу.
    </p>

</nav>
<aside>
    <h4>Aside</h4>
    <p lang="ru">Цель этой статьи — показать исторический контекст, как развивались техники и инструменты CSS до их нынешнего состояния в 2018 году.
    </p>
</aside>
{{> footer}}
<script>

    $('div.menu-item').hover(function () {
        this.id='menu-item_border';
    },function () {
        this.id='';
    });
    $('div.down').click(function () {
        $(this).hide(1000);
    });
</script>
<script src="../js/script.js"></script>
</body>
</html>