<html>
<head>
    <link href="../Icons/Twitt.ico" rel="shortcut icon" type="image/x-icon"/>
    <meta charset="UTF-8">
    <link href="../css/twitter2.css" rel="stylesheet" type="text/css" >

</head>
<body>
<div class="Entrance">
    <div class="Entrance__Login">
        <form>
            <div class="inputDiv">
                <input type="email" class="input" value="palexei98@gmail.com">
            </div>
            <div class="inputDiv">
                <input type="password" class="input">
                <a href="#" class="forgot">Забыли пароль?</a>
            </div>
            <input type="submit" value="Войти" class="button entryButton">
        </form>
    </div>
    <div class="Entrance_Registration">
        <div class="divIcon">
            <span class="icon registrationIcon birdIcon"></span>
        </div>
        <h1 style="margin-bottom: 50px">Узнайте, что рисуют <br>в мире прямо сейчас.</h1>
        <h2>Присоединяйтесь к Maler прямо <br>сейчас!</h2>
        <div class="registration">
            <input onclick="window.location='/registration'"  type="submit"  class="button registrationInput_button registrationButton" value="Регистрация">
            <input onclick="window.location='/registration'" type="submit"  class="button registrationInput_button entryButton" value="Войти">
        </div>
    </div>
</div>
<div class="Information">
    <div class="Information_Text">
        <div class="Information-item"><span class="icon informationIcon searchIcon"></span>Любуйтесь тем что вам интересно.</div>
        <div class="Information-item"><span class="icon informationIcon peopleIcon"></span>Учитесь рисовать по новому.</div>
        <div class="Information-item"><span class="icon informationIcon commentIcon"></span> Создавайте шедевры.</div>
    </div>
</div>
<footer>
    <ul>
        <li><a href="#">О нас</a></li>
        <li><a href="#">Справочный центр</a></li>
        <li class="Copyright">© Maler, 2018</li>
    </ul>
</footer>
</body>
</html>